:root {
	--page_margin: 50px;
	--icon_heights: 50px;
	--transition_time: 0.2s;
	--instructions_font_size: 20px;
}

body {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	font-family: 'Helvetica', sans-serif;
	background-color: white;
	touch-action: none;
}

canvas {
	background-color: white;
}

#moveRight, #moveLeft {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

#moveRight {
	position: fixed;
	right: 0px;
	top: 0px;
	height: 100vh;
	width: 50vw;
}

#moveLeft {
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100vh;
	width: 50vw;
}

#score {
	position: fixed;
	left: var(--page_margin);
	top: var(--page_margin);
	display: flex;
	align-items: flex-end;
	gap: 5px;
}

#score .score_num {
	height: var(--icon_heights);
}

#m {
	height: calc((3/5) * var(--icon_heights));
}

canvas {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#pause {
	position: fixed;
	right: var(--page_margin);
	top: var(--page_margin);
	height: var(--icon_heights);
}

.relative_container {
	position: relative;
	width: 100%;
	height: 100%;
}

#title_container {
	position: fixed;
	left: 50%;
	top: var(--page_margin);
	transform: translate(-50%, 0);
}

#title {
	width: 50vw;
	transition: var(--transition_time);
	transition-timing-function: linear;
}

#instructions {
	position: absolute;
	left: 50%;
	text-align: center;
	top: 80px;
	transform: translate(-50%, 0);
	width: 100%;
	display: flex;
	gap: 30px;
	font-size: var(--instructions_font_size);
	justify-content: center;
	transition: var(--transition_time);
	transition-timing-function: linear;
}

#instructions a {
	font-size: var(--instructions_font_size);
	color: black;
}

.key {
	display: inline;
	height: var(--instructions_font_size);
}

.tap {
	transform: translate(0, 20%) scale(1.5, 1.8);
	margin: 0px 5px;
}

#end_game {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-color: #a1d7ee50;
	text-align: center;
	transition: var(--transition_time);
	opacity: 0;
}

#end_game_content {
	position: absolute;
	left: 50%;
	top: 50%;
	transition: var(--transition_time);
	transform: translate(-50%, -50%) scale(0.5);
}

@media only screen and (max-width: 1310px) 
	{
		#instructions {
			top: 70px;
			flex-wrap: wrap;
			display: unset;
			gap: 20px;
		}
}

@media only screen and (max-width: 1000px) 
	{
		:root {
			--instructions_font_size: 15px;
		}
		#instructions {
			top: 50px;
		}
}

@media only screen and (max-width: 750px) 
	{
		:root {
			--icon_heights: 40px;
		}
}

@media only screen and (max-width: 600px) 
	{
		:root {
			--page_margin: 20px;
		}
}

@media only screen and (max-width: 420px) 
	{
		#instructions {
			top: 50px;
			width: 90vw;
		}
		:root {
			--icon_heights: 25px;
			--page_margin: 15px;
		}
}